<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfólio profissional">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>Vinycius Assis Foseca</h1>
        <p>Desenvolvedor Full Stack Python | Docker | Rust </p>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- SEÇÃO 1: SOBRE -->
        <section id="sobre">
            <h2>Sobre Mim</h2>
            
            <article class="sobre-intro">
                <p>Desenvolvedor Fullstack Jr ,focado na criação de soluções eficientes com Django e Flask,Web Scraping e Machine Learning, 
                com experiência em TensorFlow e scikit-learn .Busco aplicar minhas habilidades em soluções práticas e contribuir 
                com o desenvolvimento ágil de software com foco no desenvolvimento open source e linux para softwares mais seguros e escalaveis</p>
            </article>

            <div class="sobre-detalhes">
                <article class="sobre-card">
                    <h3>Experiência</h3>
                    <p> Projetos de automacao com Python, sistemas de gestao com python e Flet com UI pratica e intuitiva, coleta e 
                    limpeza de dados atraves de web scraping ,treinamento e otimizacao de modelos de IA com scikit-learn e TensorFlow,otimizacao 
                    de hiperparametros e reducao de dimensionalidade ,com desenvolvimento agil ,profissional e responsavel </p>
                    <a href="sobre/sobre.html" class="btn-detalhes">Ver Detalhes</a>
                </article>

                <article class="sobre-card">
                    <h3>Habilidades</h3>
                    <ul>
                        <li>Python, Django</li>
                        <li>TensorFlow, Scikit-learn</li>
                        <li>Docker, Kubernetes</li>
                        <li>Beautiful Soap, Flet, Node.js</li>
                        <li>MySQL, MongoDB, ORM</li>
                        <li>GitHub, linux</li>
                        <li>HTML5, CSS3, JavaScript</li>
                    </ul>
                    <p><br><br><br><br>      </p>
                    <a href="sobre/sobre.html" class="btn-detalhes">Ver Detalhes</a>
                </article>

                <article class="sobre-card">
                    <h3>Educação</h3>
                    <p> certificacoes nas areas de :<br>
                        Machine Learning, Python, <br>Git e GitHub, Docker e <br>Inteligencia Artificial<br><br><br>
                    <br><br><br><br><br></p>
                        <a href="sobre/sobre.html" class="btn-detalhes">Ver Detalhes</a>
                </article>
            </div>
        </section>

        <!-- SEÇÃO 2: PROJETOS -->
        <section id="projetos">
            <h2>Meus Projetos</h2>

            <div class="projetos-grid">
                <article class="projeto-card">
                    <div class="projeto-imagem">
                        <span>BoiAPI</span>
                    </div>
                    <div class="projeto-conteudo">
                        <h3>BoiAPI</h3>
                        <p>Uma API desenvolvida Django Rest Framework ,a api fornece os dados referentes aos valores da arroba do 
                        boi e animais semelhantes como vaca, novillhas e garrotes ,tendo como objetivo o acesso facil e confiavel
                        a dados para sistemas do agronegocio .</p>
                        <div class="projeto-tags">
                            <span class="tag">DRF</span>
                            <span class="tag">Python</span>
                            <span class="tag">Beautiful Soap</span>
                            <span class="tag">Json</span>
                            <span class="tag">Django</span>
                        </div>
                        <a href="projetos/API.html" class="btn-detalhes">Ver Detalhes</a>
                    </div>
                </article>

                <article class="projeto-card">
                    <div class="projeto-imagem">
                        <span>DallyFlix</span>
                    </div>
                    <div class="projeto-conteudo">
                        <h3>DaillyFlix web</h3>
                        <p>Um diario web no estilo da netflix para o upload e organizacao de fotos e videos (momentos)
                        pessoais em um formato similar a uma serie ou filme para uma experiencia confortavel e 
                        alegre com personalizacao total de conteudo <br><br></p>
                        <div class="projeto-tags">
                            <span class="tag">Django</span>
                            <span class="tag">Python</span>
                            <span class="tag">MySQL</span>
                            <span class="tag">HTML</span>
                            <span class="tag">CSS</span>
                        </div>
                        <a href="projetos/Daillyflix.html" class="btn-detalhes">Ver Detalhes</a>
                    </div>
                </article>

                <article class="projeto-card">
                    <div class="projeto-imagem">
                        <span>Docker-Jupyter</span>
                    </div>
                    <div class="projeto-conteudo">
                        <h3>Docker enviroment Jupyter</h3>
                        <p>Um ambiente jupyter para o desenvolvimento com tensorFlow e scikit-learn 
                        para o aprendizado de maquina, a imagem esta disponivel no meu DockerHub,
                        com mapeamento de portas e volume <br><br></p>
                        <div class="projeto-tags">
                            <span class="tag">Docker</span>
                            <span class="tag">Python</span>
                            <span class="tag">tensorFlow</span>
                            <span class="tag">Scikit-learn</span>
                            <span class="tag">Jupyter</span>
                            <span class="tag">DockerHub</span>
                        </div>
                        <a href="projetos/docker.html" class="btn-detalhes">Detalhes</a>
                    </div>
                </article>

                <article class="projeto-card">
                    <div class="projeto-imagem">
                        <span>Recomendation</span>
                    </div>
                    <div class="projeto-conteudo">
                        <h3>Ml - Recomendation</h3>
                        <p>Um projeto de recomendacao de imagens similares desenvolvido com python e Scikit-learn
                        <br><br>
                        </p>
                        <div class="projeto-tags">
                            <span class="tag">Scikit-learn</span>
                            <span class="tag">Python</span>
                            <span class="tag">TensorFlow</span>
                        </div>
                        <a href="projetos/Ml-recomendation.html" class="btn-detalhes">Ver Detalhes</a>
                    </div>
                </article>

                <article class="projeto-card">
                    <div class="projeto-imagem">
                        <span>STRIDE</span>
                    </div>
                    <div class="projeto-conteudo">
                        <h3>STRIDE - logs gemini API</h3>
                        <p>Um sistema para a avaliacao de vulnerabilidades de codigos no modelo STRIDE com a API do gemini<br><br></p>
                        <div class="projeto-tags">
                            <span class="tag">API</span>
                            <span class="tag">gemini</span>
                            <span class="tag">Python</span>
                        </div>
                        <a href="projetos/Stride.html" class="btn-detalhes">Detalhes</a>
                    </div>
                </article>
                <article class="projeto-card">
                    <div class="projeto-imagem">
                        <span>Transfer Learning</span>
                    </div>
                    <div class="projeto-conteudo">
                        <h3>ML - Transfer Learning</h3>
                        <p>Um projeto de transferencia de aprendizado ,utilizando o conhecimento adquirido de um modelo
                            pre treinado, e adicionando novas camadas .
                        </p>
                        <div class="projeto-tags">
                            <span class="tag">Scikit-learn</span>
                            <span class="tag">Python</span>
                            <span class="tag">tensorflow</span>
                        </div>
                        <a href="projetos/ML-Transfer-Learning.html" class="btn-detalhes">Detalhes</a>
                    </div>
                </article>
                
            </div>
        </section>

        <!-- SEÇÃO 3: CONTATO -->
        <section id="contato">
            <h2>Entre em Contato</h2>

            <div class="contato-container">
                <div class="contato-info">
                    <article class="contato-item">
                        <strong>GitHub :</strong>
                        <span>https://github.com/Vinyassis01</span><p class="space">//////////////</p>
                        <a href="https://github.com/Vinyassis01" class="btn-contatos">GitHub</a>
                    </article>

                    <article class="contato-item">
                        <strong>Email :</strong>
                        <span>vinyciusassisfonseca@gmail.com </span><p class="space">///////////</p>
                        <a href="mailto:vinyciusassisfonseca@gmail.com?subject=Gostaria%20de%20conhecer%20melhor%20seus%20projetos&body=Olá,%20gostaria%20de%20saber..."" class="btn-contatos">Enviar E-mail</a>
                    </article>

                    <article class="contato-item">
                        <strong>LinkeIn :</strong>
                        <span>www.linkedin.com/in/vinycius-assis-fonseca</span>
                        <a href="https://www.linkedin.com/in/vinycius-assis-fonseca-a74847272/" class="btn-detalhes">LinkedIn</a>
                    </article>

                    <article class="contato-item">
                        <strong>Telefone :</strong>
                        <span>(33) 99934 7743 </span><p class="space">////////////////////////////////</p>
                        <a href="https://wa.me/5533999347743" class="btn-contatos">WhatsApp</a>
                    </article>

                    <article class="contato-item">
                        <strong>Localização:</strong>
                        <span>Minas Gerais, Brasil</span>
                    </article>

                    <article class="contato-item">
                        <strong>Disponibilidade:</strong>
                        <span>Projetos freelance</span>
                        <span>Home office</span>
                        <span>contratacao PJ</span>
                    </article>
                </div>
                <!--
                <form class="contato-form">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="mensagem">Mensagem</label>
                        <textarea id="mensagem" name="mensagem" required></textarea>
                    </div>

                    <button type="submit">Enviar Mensagem</button>
                </form> -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2026 Vinycius Assis Fonseca. Todos os direitos reservados.</p>
        <nav class="social-links">
            <a href="#" aria-label="GitHub">GitHub</a>
            <a href="#" aria-label="LinkedIn">LinkedIn</a>
            <a href="#" aria-label="Twitter">Twitter</a>
            <a href="#" aria-label="Instagram">Instagram</a>
        </nav>
    </footer>
</body>
</html>